@keyframes hueshift {
	0% {
		filter: hue-rotate(0deg);
	}

	100% {
		filter: hue-rotate(360deg);
	}
}

#balltoggle {
	position: absolute;
	right: 5rem;
	top: 5rem;
	height: 5rem;
}

#gravityball {
	position: absolute;
	z-index: 999;
	display: none;
	pointer-events: none;
}

#pee {
	background-image: url(medias/wup\ of\ water.png);
	color: rgb(255, 252, 101);
	height: 3rem;
	position: absolute;
	left: 50vw;
	bottom: 1rem;

}

.bigtitle {
	animation-name: hueshift;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	color: hsl(0, 100%, 50%);
}

.biglink {
	font-family: cursive;
	font-size: large;
	animation-name: hueshift;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	color: hsl(0, 100%, 50%);
}

.maindiv {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.home {
	position: absolute;
	top: 20px;
	left: 20px;
	color: rgb(171, 69, 255);
	font-family: fantasy;
	font-size: xx-large;
}

#scavVid {
	position: absolute;
	bottom: 10rem;
	right: 5rem;
}

#scavVid:hover {
	cursor: url(https://wyvernscales.com/RWEditor/resources/favicons/favicon-32x32.png), auto;
}

#buttonzone {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 60rem;
}

#buttonzone>* {
	margin: 0.1rem;
}

a {
	color: brown;
}

a:visited {
	color: coral;
}

body {
	background-image: url(/medias/home.png);
	backdrop-filter: blur(5px);
	color: white;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: 0px;
}

hr {
	width: 20rem;
}